<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE</title>
    <link rel="stylesheet" href="../../../style.css">
</head>
<body>
   </div>
    <div class="container">
        <img id="qrcode">
       <div>
        <input type="text" placeholder="Input to generate QR" id="input"> 
        <button onclick="generateQRCode()">Generate QR</button> 
        <button onclick="clearInput()">Clear</button>
       </div>
    </div>
    <script src="qrcode.js"></script>
</body>
</html>