<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCANNER</title>
    <link rel="stylesheet" href="scanner.css">
   
</head>
<body>
   <header id="header"></header>
    <img id="display-image"></img>
    <input type="file" accept="jpg, jpeg, bmp, png" id="image-input">
    
    <button id="input-button">Upload Image</button>
   
</body>
<script src="scanner.js"></script>
<script src="../header/header.js"></script>
</html>